body{
    background-image: url("../img/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: rgb(41, 41, 41);
}

.MenuStyle{
    background-color: rgba(80, 80, 80, 0.596);
    width: auto;
    height: 40px;  
    text-align:center;
    display:block;
    word-spacing: 150px;
}

.MenuStyleLinks{
    font-size: 35px;
    text-decoration: none;
    color:white;
}

.MenuStyleLinks:hover{
    color: yellow;
}

.PictureStyle{
    margin-top: 12vh;
}

figure{
    width:25%;
    float:left;
    margin-left: 11vh;
    margin-top: 10vh;
}

figure:hover{
    transform: scale(1.2);
}